.catalogo-img {
    height: 200px;
    object-fit: cover;
}

.catalogo-description {
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.heart-icon.filled {
    color: red;
    outline: none;
}